<h2>Questions form</h2>
<form [formGroup]="questForm">
  <div formArrayName="questions" *ngFor="let question of questForm.controls.questions?.value; let i = index">
    <ng-container [formGroupName]="i">
      {{ question.question }}

      <div *ngFor="let answer of question.answers">
        <input type="radio" id="{{answer}}" value="{{answer}}" formControlName="answerVal">
        <label for="{{answer}}">{{answer}}</label>
      </div>
      <input type="text" #addAnswer>
      <button (click)="addMyAnswer(addAnswer.value, i)">Add my answer</button>
    </ng-container>
  </div>
  <button type="submit">Send</button>
</form>
<br/>
Add your own question
<br/>
<form [formGroup]="addQuestForm">
  <div class="row">
    <label for="question">Question</label>
    <input type="text" formControlName="question" />
  </div>
  <div class="row">
    <label for="answers">Answers (divide by comma)</label>
    <input type="text" formControlName="answers" />
  </div>
  <button (click)='addQuestion()' [disabled]='addQuestForm.invalid'>Add my question</button>
</form>
