<h2>Registration form</h2>
<form [formGroup]="regForm" (ngSubmit)="onSubmit()">
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">First name*</span>
    </div>
    <input type="text" class="form-control" formControlName="name" aria-describedby="basic-addon3" />
  </div>
  <div *ngIf="isControlInvalid('name')">
    <div>
      <span class="error" *ngIf="getErrors('name')['pattern']">
        Name can contains only latin symols and/or numbers.
      </span>
    </div>
    <div>
      <span class="error" *ngIf="getErrors('name')['required']">
        Required field
      </span>
    </div>
    <div>
      <span class="error" *ngIf="getErrors('name')['minlength']">
        Name should be more then 3 symbols.
      </span>
    </div>
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">Second name</span>
    </div>
    <input type="text" class="form-control" formControlName="surname" aria-describedby="basic-addon3" />
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">email*</span>
    </div>
    <input type="text" class="form-control" formControlName="email" aria-describedby="basic-addon3" />
  </div>
  <div *ngIf="isControlInvalid('email')">
    <div>
      <span class="error" *ngIf="getErrors('email')['email']">
        Email is not valid.
      </span>
    </div>
    <div>
      <span class="error" *ngIf="getErrors('email')['required']">
        Required field
      </span>
    </div>
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">Password*</span>
    </div>
    <input type="password" class="form-control" #pass formControlName="password" placeholder="Password" />
    <input
      type="password"
      class="form-control"
      #passConf
      formControlName="passwordConf"
      placeholder="Confirm password"
    />
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button" (click)="togglePassword(pass, passConf)">
        {{ isPasswordShows ? "Hide password" : "Show password" }}
      </button>
    </div>
  </div>
  <div *ngIf="isControlInvalid('password')">
    <div>
      <span class="error" *ngIf="getErrors('password')['invalidPassword']">
        {{ getErrors("password")["invalidPassword"] }}
      </span>
    </div>
    <div>
      <span class="error" *ngIf="getErrors('password')['required']">
        Required field
      </span>
    </div>
  </div>
  <div *ngIf="isControlInvalid('passwordConf')">
    <div>
      <span class="error">
        Passwords mismatch.
      </span>
    </div>
  </div>
  <div class="input-group mb-3" formGroupName="birthday">
    <div class="input-group-prepend">
      <label class="input-group-text" for="inputGroupSelect01">Birthday</label>
    </div>
    <select class="custom-select" formControlName="day">
      <option *ngFor="let day of days" [ngValue]="day">
        {{ day }}
      </option>
    </select>
    <select class="custom-select" formControlName="month">
      <option *ngFor="let month of monthes" [ngValue]="month">
        {{ month }}
      </option>
    </select>
    <select class="custom-select" formControlName="year">
      <option *ngFor="let year of years" [ngValue]="year">
        {{ year }}
      </option>
    </select>
  </div>

  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text" id="">Gender</span>
    </div>
    <div class="input-group-prepend">
      <div class="input-group-text">
        <input type="radio" value="male" formControlName="gender" />
      </div>
    </div>
    <label for="male" class="form-control">Male</label>
    <div class="input-group-prepend">
      <div class="input-group-text">
        <input type="radio" value="female" formControlName="gender" />
      </div>
    </div>
    <label for="male" class="form-control">Female</label>
  </div>
  <div *ngIf="isControlInvalid('gender')">
    <div>
      <span class="error" *ngIf="getErrors('gender')['required']">
        Required field
      </span>
    </div>
  </div>
  <br /><br />

  <button type="submit">Register</button>
</form>
